<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>bootstrap</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="./css/global01.css" rel="stylesheet" type="text/css" />

    <script src="./js/jquery.min.js" type="text/javascript"></script>
    <script src="./js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
    <div class="zt-top-menu-wrap">
        <div class="zt-center zt-top-menu">
            <div class="row">
                <div class="col-xs-1 col-sm-1 zt-logo hidden-xs">
                    <a href="#">Logo</a>
                </div>
                <div class="col-xs-4 col-sm-4 zt-search-box hidden-xs hidden-sm">
                    <form class="navbar-search pull-right" action="/search" id="global_search_form" method="post">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="search power..." autocomplete="off" name="q" id="zt-search-query" class="search-query"/>
                            <div class="input-group-addon" title="搜索" id="global_search_btns" onclick="$('#global_search_form').submit();">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </div>
                            <!--
                            <div class="zt-drop-down">
                                <i class="i-drop-down-triangle"></i>
                                <p class="title">输入关键字进行搜索</p>
                                <ul class="zt-drop-down-list"></ul>
                                <p class="search">  <span>搜索</span><a onClick="$('#global_search_form').submit();"></a></p>
                                <p><a href="#" onClick="$('#header_publish').click();" class="pull-right btn btn-normal btn-success publish">发起问题</a></p>
                            </div>
                            -->
                        </div>
                    </form>
                </div>
                <div class="col-xs-4 col-sm-4 zt-top-nav">
                    <ul>
                        <li><a href="#" class="active">大厅</a></li>
                        <li><a href="#">心情</a></li>
                        <li><a href="#">活动</a></li>
                    </ul>
                </div>
                <div class="col-xs-2 col-sm-2 zt-user-nav">
                    <span>
                        <a href="#">登录</a>
                        <a href="#">注册</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="zt-container-wrap">
        <div class="zt-container zt-center">
            <div class="row zt-content-wrap">
                <div class="col-sm-9 col-md-9 zt-main-content">
                    <div class="row category zt-mod-body">
                        <div class="category-style">
                            <ul>
                                <li class="active"><a href="#">全部</a></li>
                                <li><a href="#">程序员</a></li>
                                <li><a href="#">美女</a></li>
                                <li><a href="#">帅哥</a></li>
                                <li><a href="#">随笔</a></li>
                                <li><a href="#">心情</a></li>
                                <li><a href="#">小清新</a></li>
                                <li><a href="#">动漫</a></li>
                                <li><a href="#">星座</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="zt-all-question">
                        <ul class="nav nav-tabs zt-reset-nav-tabs">
                            <li><a href="#" id="sort_control_hot">热门</a></li>
                            <li><a href="#">推荐</a></li>
                            <li class="active"><a href="#">最新</a></li>
                            <h2 class="hidden-xs">全部</h2>
                        </ul>

                        <div class="feed-content">
                            <div class="feed-list">
                                <ul>
                                    <li type="3">
                                        <div class="feed-user-pto">
                                            <a title="Baron丶" href="#" target="_blank"><span></span></a>
                                             <img src="./images/pto_01.jpg" alt />
                                            <a href="#" class="icon_tag">摄影</a>
                                        </div>
                                        <div class="feed-con">
                                            <span class="feed-list-cor"></span>
                                            <span class="feed-list-tag"><a href="#"><span>摄影</span></a></span>
                                            <div class="feed-from">
                                                <a href="#" target="_blank">Tony</a>
                                                <span class="edit-by">采编自</span>
                                                <a id="id_01" href="#" target="_blank">Array</a>
                                                <a href="#" class="feed-date" style>今天 11:30</a><!--="display: none;"-->
                                            </div>
                                            <div class="feed-title"></div>
                                            <div class="feed-text" id="id_text_01">
                                                <div class="longtext_prv">
                                                    根.
                                                    <div>

                                                        <span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="feed-attr">
                                                <a class="feed-attr_tran" onclick="alert(1)" href="javascript:void(0)">转载<em>(1)</em></a>
                                                <a class="feed-attr_comm" onclick="alert(2)" href="javascript:void(0)">评论<em>(10)</em></a>
                                                <a class="feed-attr_like" onclick="alert(3)" href="javascript:void(0)">喜欢<em>(11111)</em></a>
                                            </div>
                                            <div id="comm_01">
                                                <div class="comment">
                                                    <div class="input">
                                                        <textarea id="comm_in_01"></textarea>
                                                        <a class="btn" href="javascript:void(0)" onclick="alter(4)"><span>评价</span></a>
                                                        <em class="green">你还可以输入<em>140</em>个字</em>
                                                    </div>
                                                    <div class="row-line" ></div><!--style="display: none"-->
                                                    <ul>
                                                        <li>
                                                            <span class="pic"><a href="#"><img src="./images/pto_sm_01.jpg"></a></span>
                                                            <p><a href="#">Array</a>很喜欢你的文字<span>(10分钟前)</span></p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="feed-con">
                                            <div class="feed-from">
                                                <a class="feed-user-pto" id="author1" href="#">
                                                    <img title="旅行者" src="http://tp1.sinaimg.cn/1159144044/50/40025111513/1" alt="摄影">
                                                </a><em>世界很大...</em><a href="#">旅行者</a>
                                            </div>
                                            <div class="feed-title"></div>
                                            <div class="feed-text">根据不同的类型，包含不同的根据不同的类型，包含不同的根据不同的类型，包含不同的根据不同的类型，包含不同的根据不同的类型，包含不同的。</div>
                                            <div class="feed-attr">
                                                <div class="tags"></div>
                                                <a href="javascript:void(0)" onclick="alert(111)">举报<em>(2)</em></a>
                                                <a href="javascript:void(0)" onclick="alert(111)">收藏<em>(2)</em></a>
                                                <a blog_id="51" from="qing" onclick="" href="javascript:void(0)">评论<em>(2)</em></a>
                                                <a blog_id="yy" from="qing" onclick="" href="javascript:void(0)">喜欢<em>(1110)</em></a>
                                            </div>
                                        </div>-->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <ul class="pagination  pull-right">
                            <li class="active"><a href="javascript:;">1</a></li>
                            <li><a href="http://www.vzhongtou.com/home/explore/sort_type-new__day-0__page-2">2</a></li>
                            <li><a href="http://www.vzhongtou.com/home/explore/sort_type-new__day-0__page-3">3</a></li>
                            <li><a href="http://www.vzhongtou.com/home/explore/sort_type-new__day-0__page-2">&gt;</a></li>
                            <li><a href="http://www.vzhongtou.com/home/explore/sort_type-new__day-0__page-84">&gt;&gt;</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 aw-side-bar zt-index-side-bar">
                    <div style="margin-top: 20px">我有话说</div>
                    <div class="aside">
                        <div class="fav-tags">
                            <ul>
                                <li><a href="#"><span>活跃用户</span></a></li>
                                <li><a href="#">晓明</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>