/* 重载bootstrap部分 */
em{font-style: normal;}
input[type="radio"], input[type="checkbox"]{margin:0;}
label{margin:0;font-weight: normal;}
form{margin:0;}
select, input[type="file"]{line-height: 28px;}
select{width: auto;}
.hide{display: none;}
.tooltip{z-index: 9999;}
.alert{margin-bottom:0px;padding:8px 14px;background: #FCFDDB;border: 1px solid #F9F2A7;}
.alert-danger, .alert-error{margin-bottom:10px;background: #F2DEDE;border: 1px solid #EED3D7;}
.tab-content{padding-bottom:30px;}
.form-control{line-height: 20px;}
.form-horizontal .control-label, .form-horizontal .controls{height: 30px;line-height: 30px;padding-top:0;}
.badge{padding:2px 6px;margin-left: 5px;}
.badge.badge-info{background: #3A87AD;}
.badge.badge-important{background: #D90000;}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{border-bottom-width:1px;}


/* tabs切换样式重载 */
.reset-nav-tabs{position:relative;z-index:1;margin:0;min-height: 30px;}
.reset-nav-tabs > li{float:right;margin:0 4px 0 0;font-size: 14px;}
.reset-nav-tabs > li > a{line-height:30px;padding:0 13px;cursor: pointer !important;background-color: #e8e8e8;border: 1px solid #ddd;border-bottom-color: transparent;border-radius: 3px 3px 0 0;}
.reset-nav-tabs > li > a:hover{background-color: #F5FAFF;border: 1px solid #ddd;border-bottom-color: transparent;}
.reset-nav-tabs > li.active{margin:0 4px -1px 0;}
.reset-nav-tabs > li.active a{line-height:31px;background-color: #e8e8e8;}/*fff*/
.reset-nav-tabs h2{position:absolute;top:0;left:0;margin:0;font-size:18px;}
.reset-nav-tabs .fa-caret-up, .reset-nav-tabs .fa-caret-down{position: relative;top: -2px;margin-left:5px;}

/* 公共部分*/
html{height: 100%;}
body{background:#e8e8e8;margin: 0;height: 100%;font-size:14px; line-height:160%;color: #666;}
body, input, button, select, textarea, h1, h2, h3, h4, h5, h6{font-family: "Helvetica Neue",Helvetica,Arial,'Microsoft YaHei',sans-serif;}
ul, li,ol{margin:0;padding:0;list-style:none;}
h1, h2, h3, h4, h5, h6{margin-top:0;font-size:100%;line-height: 20px;}
dd{margin-left: 10px;}
a{cursor: pointer;}
a:hover{text-decoration: none;}
a:link, a:visited{font-family: "Helvetica Neue",Helvetica,Arial,'Microsoft YaHei',sans-serif; color: #a9a9a9; text-decoration: none;}
textarea{resize:none;}
input, textarea{padding: 6px !important;}
table td{vertical-align: middle !important;}

/* 屏幕宽度兼容 */
@media (min-width: 1200px){
	.container{width: 990px;}
}

/* ipad屏幕兼容 */
@media (max-width: 768px) {
    .dynamic-topic .item .dynamic-topic-more-operate{display:inline-block;}
    .copyright{text-align: center !important;}
    .container-wrap{padding: 0 10px !important;}
    .copyright{text-align: center !important;}
    .dynamic-topic .dynamic-topic-content{float: none !important;}
}

@media (max-width: 1024px) {
    .question-detail-box .vote-bar{position: relative !important;left: 0 !important;}
}
/* iphone竖屏幕兼容 */
@media only screen and (device-width:320px){
    .user-nav{display: none;}
}

/* 横屏幕兼容 */
@media screen and (orientation:landscape) {
    .user-nav{display: block !important;}
}

/* 导航条 */
.top-menu-wrap{position:relative;z-index:1001;width:100%;min-height:54px;margin-bottom:30px;background:#4991cf;}/*3579a6*/
.top-menu{overflow: visible;}
.logo{width:120px;height:40px;margin:6px 0 0 0;}
.logo a{display:block;width: 120px;height: 36px;background:url('../images/logo.png') no-repeat;}
.logo h1{height:25px;line-height:25px;margin:-2px 0 2px 0;font-size:14px;}
.search-box{width: 264px !important;padding-left: 10px;}
.search-box .input-group{margin-bottom: 10px;}
.search-box .input-group .input-group-addon{border-left: none;border-radius: 0 5px 5px 0;cursor: pointer;}
.search-box form{margin-top: 10px;margin-right: -8px;}
.search-box form input{width: 210px !important;}
.top-nav{width: 380px !important;}
.top-nav > ul > li{position: relative;float:left;}
.top-nav > ul > li > a{display:block;height:54px;line-height:54px;padding:0 20px;color: #fff;}
.top-nav > ul > li > a.active, .login-nav > ul > li a.active:hover{background: #2c618d;}
.top-nav > ul > li > a:hover{background: #24659a;}
.user-nav{position:relative;width:200px;height:54px;line-height: 48px;}
.user-nav > a{display:block;height:54px;color: #fff;}
.user-nav > a img{width: 32px;height: 32px;border-radius: 5px;}
.user-nav > span > a{display:inline-block;height:54px;line-height:54px;padding:0 12px;color: #fff;}
.user-nav > span > a:hover{background-color: #24659a;}


/* 分类小标签 */
.user-name, .topic-name{display:inline-block;display:inline\0;font-size:12px;line-height:20px;font-weight:normal;}
.topic-name span{display:inline-block;padding:0 6px;background-color:#e0f5ff;}
.topic-name span:hover{background:#C1E8F9;text-decoration:none;}
.topic-name .close{margin-left:5px;margin-top:3px;color: #295477;opacity: 1;}

/* mainContent */
.main-content{height:100%;padding:0 20px 0;margin:0;}
.content-wrap .all-question{padding-top:20px;}
.content-wrap .article-list{padding-top:20px;}
.main-content .all-question .pagination{margin:20px 0 0;}

/* category */
.category dl, .category dl dt, .category dl dd{float:left;}
.category dl{position:relative;margin:10px 12px 10px 0;padding:15px;}
.category dl:hover .drop-down, .category ul li:hover .drop-down, .category dl .drop-down ul li a{display:block;}
.category dl:hover, .category .category-style > .active{background: #ebebeb;}
.category dl dt, .category dl dt img{width: 50px;height: 50px;}
.category dl dd{width:130px;overflow: hidden;}
.category dl dd span{display:block;height:38px;font-size: 12px;word-wrap:break-word;}
.category dl .drop-down{top: 110%;left: 0;}
.category dl .drop-down ul li{padding: 10px;}
.category dl .drop-down span, .category ul li .drop-down span{position:absolute;top:-10px;display: inline-block;width: 100%;height:10px;}
.category dl .drop-down span i, .category ul li .drop-down span i{top: 4px;}
.category .category-style{padding: 0 0 0 10px;}
.category .category-style.drop-down-menu{top:115%;min-width: 150px;max-height:200px;margin:0;}
.category .category-style.drop-down-menu ul{max-height:200px;overflow:auto;}
.category .category-style > ul > li .drop-down-menu{text-align: left;}
.category .category-style> ul > li{float: left;position:relative;height: 30px;line-height: 30px;margin:7px 5px;padding:0 7px;font-size:14px;text-align: center;cursor: pointer;border-radius: 5px;}
.category .category-style> ul > li > a{color:#17344A;}
.category .category-style> ul > li.active, .category .category-style > ul > li:hover{background: #4991cf;}/*#494a4b*/
.category .category-style> ul > li.active > a, .category .category-style > ul > li:hover > a{color: #fff;}
.category ul li .drop-down{top:120%;width: 120px;text-align: left;}
.category ul li .drop-down ul li{padding:10px;line-height: 20px;}
.category .title a, .category-drop-down a.active{font-weight: bold;}

/*内容列表*/
.feed-content{margin-top: 10px}
.feed-list{overflow: hidden;clear: both;}
.feed-list img{max-width: 500px}
.feed-list ul{margin: 2px 0 20px 0;}
.feed-list ul li {overflow: hidden;margin-bottom: 20px;zoom: 1;}
.feed-list ul li {overflow: hidden;margin-bottom: 10px;zoom: 1;}
.feed-list ul li .feed-user-pto {width: 100px; height: 100px;float: left; position: relative;overflow: hidden;border-right: 1px #d1dbd3 solid; margin-left: -1px;}
.feed-list ul li .feed-user-pto span{position: absolute;left: 0;top: 0;z-index: 10;display: block;width: 100px;height: 100px;cursor: pointer;}/*background: url() repeat*/
.feed-list ul li .feed-user-pto a{zoom: 1;}
.feed-list ul li .feed-user-pto a, .feed-list ul li .feed-user-pto a:link{width: 100px; height: 100px;position: absolute;z-index: 11;cursor: pointer;}
.feed-list ul li .feed-user-pto img{width: 100px; height: 100px;z-index: 9;position:relative;}
.feed-list ul li .feed-user-pto a.icon_tag,.feed-list ul li .feed-user-pto a.icon_tag:link{position: absolute;left: 0;top: 0;z-index: 10;width: 48px;height: 47px;background: url(../images/ico_tagfeed.png) no-repeat;_background: url(../images/ico_tagfeed.gif) no-repeat;text-indent: -9999px;}
.feed-list ul li .feed-con {width: 600px;float: left;position: relative;background: #fff;padding: 12px 0 18px 0;}
.feed-list ul li .feed-con .feed-list-cor{display: none;}
.feed-list ul li .feed-con .feed-list-tag{position: relative;top: -12px;display: inline-block;height: 25px;padding-right: 12px;background: url(../images/ico_tagfeed.png) right -114px no-repeat; _background: url(../images/ico_tagfeed.gif) right -114px no-repeat;}
.feed-list ul li .feed-con .feed-list-tag span{padding: 0 30px;display: inline-block;height: 25px;line-height: 23px;_line-height: 25px;background: #77b3d5;color: #fff;font-size: 14px;}
.feed-list ul li .feed-con .feed-from {margin-bottom: 6px;padding: 0 30px;font-size: 14px;line-height: 19px;color: #a7aab0;overflow: hidden;zoom: 1;}
.feed-list ul li .feed-con .feed-from a,.feed-list ul li .feed-con .feed-from a:link,.feed-list ul li .feed-con .feed-from a:visited{padding-right: 5px; color: #666;font-size: 14px;}
.feed-list ul li .feed-con .feed-from .edit-by {padding: 0 5px;display: inline-block;}
.feed-list ul li .feed-con .feed-from .feed-date{float: right; font-size: 12px;}
/*.feed-list ul li .feed-con .feed-from em {line-height: 30px; vertical-align: middle; margin: 0 9px;}*/
.feed-list ul li .feed-con .feed-title {padding: 0 30px; margin-bottom: 15px; line-height: 24px; font-size: 24px; color: #000;}
.feed-list ul li .feed-con .feed-text {width: auto; padding: 0 30px; clear: both; color: #333; line-height: 20px; overflow: hidden; word-break: break-all;word-wrap: break-word;}
.feed-list ul li .feed-con .longtext_prv {overflow: hidden; zoom: 1;}

.feed-list ul li .feed-con .feed-attr {clear: both;padding: 0 30px;margin-top: 15px;margin-bottom: -2px;_margin-bottom: -3px; text-align: right;position: relative;z-index: 2;height: 28px;line-height: 28px;}
.feed-list ul li .feed-con .feed-attr .tags{width: 280px; top: -2px; word-break: break-all; white-space: nowrap; position: relative; float: left; overflow: hidden;}
.feed-list ul li .feed-con .feed-attr a {margin-left: 12px; display: inline-block; color: #a9a9a9; vertical-align: baseline; zoom: 1; line-height: normal; _line-height: 17px;}
.feed-list ul li .feed-con .feed-attr a.feed-attr_tran,.feed-list ul li .feed-con .feed-attr a.feed-attr_tran:link{background: url("../images/nsidebar_bg.png") 0 -117px no-repeat;_background: url("../images/nsidebar_bg.gif") 0 -117px no-repeat; padding-left: 15px;_margin-top: 5px;}
.feed-list ul li .feed-con .feed-attr a.feed-attr_comm,.feed-list ul li .feed-con .feed-attr a.feed-attr_comm:link{background: url("../images/nsidebar_bg.png") -200px -117px no-repeat;_background: url("../images/nsidebar_bg.gif") -200px -117px no-repeat; padding-left: 15px;_margin-top: 5px;}
.feed-list ul li .feed-con .feed-attr a.feed-attr_like {margin-left: 9px; padding: 0 0 0 19px; margin-bottom: 10px; background: url("../images/icon_love.png") 0 0 no-repeat;_background: url("../images/icon_love.gif") 0 0 no-repeat;}
.feed-list ul li .feed-con .comment{background: #f1f1f1; padding: 15px 0 20px;margin: 0 20px 15px; position: relative;z-index: 1;}
.feed-list ul li .feed-con .comment .input{clear: both; overflow: hidden; padding: 0 30px;}
.feed-list ul li .feed-con .comment .input textarea{width: 468px;height: 58px;float: left;line-height: 19px;margin-bottom: 8px;border: 1px #cfcfcf solid;border-left-color: #9b9b9b;border-top-color: #9b9b9b;resize: none;padding: 5px;font-family: "Microsoft Yahei";font-size: 13px; border-style: solid; border-width: 1px; word-wrap: break-word; font-size: 13px; line-height: 19px; }
.feed-list ul li .feed-con .comment .input a.btn{width: 69px;height: 24px;line-height: 24px;float: right;margin-top: 1px;background: #84bce2;text-align: center;text-decoration: none;font-size: 14px;color: #fff;}
.feed-list ul li .feed-con .comment .input a.btn span{}
.feed-list ul li .feed-con .comment .input em.green{float: right;margin-right: 10px;margin-top: 4px;color: #6aae3f;}

.feed-list ul li .feed-con .comment .row-line{width: 100%;height: 1px; margin: 15px 0; background: url(../images/feedmore_line.png) repeat-x;overflow: hidden;}
.feed-list ul li .feed-con .comment ul{margin: 0; overflow: hidden;}
.feed-list ul li .feed-con .comment ul li{overflow: hidden;line-height: 12px;clear: both; margin: 0;padding: 0 30px;background: none;color: #464646; width: 480px;float: left;}
.feed-list ul li .feed-con .comment ul li a, .feed-list ul li .feed-con .comment ul li a:link { margin-right: 5px;color: #56ABDA;}
.feed-list ul li .feed-con .comment ul li .pic {float: left;margin-right: 10px;margin-left: 0;width: 20px; height: 20px;}
.feed-list ul li .feed-con .comment ul li .pic img{width: 20px; height: 20px;}
.feed-list ul li .feed-con .comment ul li p {position: relative;width: 410px;float: left;padding-right: 40px;line-height: 18px;margin-top: 1px;_margin-top: 3px;color: #666;}

/*左边栏目*/
.aside{position: relative;z-index: 10;width: 256px;float: left;_overflow: hidden; background: #e0e1e2;}
.aside .fav-tags, .aside .sideBox {overflow: hidden; margin-bottom: 15px;position: relative;padding-bottom: 10px;padding-left: 8px;border-bottom: 1px dotted #C5C6C7;margin: 0 0 17px 0;}
.aside .fav-tags ul{font-size: 13px; line-height: 16px;padding-left: 8px;}
.aside .fav-tags ul li {width: 212px;height: 30px;line-height: 30px;color: #666;cursor: pointer;overflow: hidden;text-indent: 13px;position: relative;cursor: pointer;}

.aside .fav-tags ul li a, .aside .fav-tags ul li a:link {display: inline;padding-left: 23px;height: 16px;color: #666;text-decoration: none;}